RewriteEngine on
RewriteRule rss dir2cast.php

RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.ini[? ].*$"
RewriteRule .* - [L,R=404]